<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <!-- Champ d'ID (généralement non modifiable) -->

  <!-- Champ de prénom -->
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched">
      Nom est obligatoire.
    </div>
  </div>

  <!-- Champ de prix -->
  <div class="form-group">
    <label for="price">Prix</label>
    <input type="text" id="price" formControlName="price">
    <div *ngIf="userForm.get('price')?.hasError('pattern') && userForm.get('price')?.touched">
      Le prix ne doit contenir que des chiffres.
    </div>
  </div>

  <!-- Champ de description -->
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" id="description" formControlName="description">
    <div *ngIf="userForm.get('description')?.hasError('required') && userForm.get('description')?.touched">
      La description est obligatoire.
    </div>
    <div *ngIf="userForm.get('description')?.hasError('minlength') && userForm.get('description')?.touched">
      La description doit contenir au moins 3 caractères.
    </div>
  </div>

  <!-- Autres champs du formulaire et messages d'erreur correspondants -->

  <button type="submit">Modifier produit</button>
</form>
